body{
    background-image: url("../img/fond\ d\'ecran.jpeg");
    overflow-x: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.title-container {
    display: flex;
    align-items: center;
}
.title-container h1 {
    margin-right: 10px;
    margin-left: 10px;
}
.fuse {
    margin-right: auto;
    width: auto;
    height: 50px;
    cursor: pointer;
}
.fuse-droite {
    margin-left: auto;
    width: auto;
    height: 50px;
    cursor: pointer;
}

.icon-sys{
    width: auto;
    height: 60px;
    margin-left: 0;
    cursor: pointer;
}

header{
    position: sticky;
}

header h1{
    color: white;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto; 
    background-color: #1c1c1c; ; 
    padding: 20px;
    
}

caption {
    background-color: #202026; 
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: large;
}

th, td {
    border: 1px solid #2a2727; 
    padding: 10px;
    text-align: left;
    color:white
}

th {
    background-color:#1e1e22; 
    color: white;
}

#texte-rotation,#texte-orbitale{
    display: none;
}

#rotation:hover #texte-rotation,#orbitale:hover #texte-orbitale{
    display: block;
    color: red;
}

.info-planete {
    color: #e0e0e0;
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px; 
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: larger;
    width: 75%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    margin-left: 20px;  
    width: 500px;
    height: 500px;
}

h1{
    text-align: center;
}

.image-planete{
    height: 25%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.Gauche{
    position: fixed;
    width: 35%;
    float: left;
}

.contenu{
    margin-top: 5%;
    margin-left: 37%;
}

#test{
    position: relative;
}

.carre , .carre-caroussel  {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contour-image, .contour-caroussel {
    background-color: rgb(255, 254, 254); 
    padding: 40px; 
    border-radius: 10px;
}

.btn-close{
    position: absolute;
    top: 7px;
    right: 10px;
    height: 10px;
    width: auto;
    cursor: pointer;
}

.planisphere{
    max-width: 1200px ;
    width: 1200px;
    height: auto;
    margin: 0;
}

.survol-planete{
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.photos{
    color: white;
    cursor: pointer;
    text-decoration: underline
}

.photos:hover{
    color: blue;
}

.photo-caroussel{
    width: auto;
    height: 600px;
}

.photo-legende {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    text-align: center;
}


.bouton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bouton button {
    margin: 0 10px;
}


.info-planete h2 {
    margin-bottom: 10px; 
}

.info-planete ul {
    margin-left: 20px; 
    text-align: left; 
    padding: 10px; 
    margin: 0; 
    padding-left: 20px; 
    width: 100%; 
    margin-bottom: 0; 
    padding-bottom: 10px;
}

.info-planete li {
    margin: 5px 0; 
}

