body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
#systeme {
    width: 100%; 
    height: auto;
}
#image_systeme {
    width: 3000px; 
    height: 817px; 
    display: block;
    margin: 0 auto; 
}