body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden; /* Désactive le défilement vertical */
}
#systeme {
    width: 100%; /* La largeur du conteneur est la même que la fenêtre */
    height: auto; /* Hauteur automatique pour s'adapter à l'image */
}
#image_systeme {
    width: 3000px; /* Largeur de l'image */
    height: 817px; /* Hauteur de l'image */
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
}